<div class="content display-table">
	<script class="row-template" type="text/x-handlebars-template">
		<tr>
			{{#each row}}
			<td>
				{{this}}
			</td>
			{{/each}}
		</tr>
	</script>
  <table class="table">
  	<tbody>
  	</tbody>
  </table>
</div>
