- content_for(:head) do
  %meta{:name => "ts.board.publicId", :content => @board.public_id}
  %meta{:name => "ts.board.id", :content => @board.id}
  %meta{:name => "ts.board.editUrl", :content => "#{public_board_url(@board)}#edit"}
- content_for(:scripts) do
  :javascript
    mixpanel.track("Add widget viewed");

%div{"ng-app" => "teamstatus.console.widget.add", "ng-controller" => "WidgetsCtrl"}

  .page-header
    %h1
      Add widget
      %small

  .row
    .col-md-2
      .list-group{"ng-cloak" => ""}
        %a.list-group-item{:href => "#/{{widget.id}}", "ng-repeat" => "widget in widgets", "ng-class" => "{active: widget.active}"} {{widget.name}}
    .col-md-8{"ng-view" => ""}
