- content_for(:head) do
  %meta{:name => "ts.board.publicId", :content => @board.public_id}
  %meta{:name => "ts.board.id", :content => @board.id}
  %meta{:name => "ts.board.editUrl", :content => "#{public_board_url(@board)}#edit"}
- content_for(:scripts) do
  :javascript
    mixpanel.track("Edit widget viewed");

%div{"ng-app" => "teamstatus.console.widget.edit", "ng-controller" => "EditWidgetsCtrl"}

  .page-header
    %h1
      Edit widget
      %small

  .row
    .col-md-3
      .list-group{"ng-cloak" => ""}
        %a.list-group-item{:href => "#/{{widget._id}}", "ng-repeat" => "widget in boardWidgets", "ng-class" => "{active: widget.active}"}
          {{widget.widgetSettings.title | default: 'Widget'}}
          %span.label.label-default.pull-right {{widgetsMap[widget.jobId].name}}
    .col-md-8{"ng-view" => ""}
