<div ng-controller="BambooBuildsCtrl">
	<teamstatus-widget-size supported-size="[[1, 1], [2, 2], [2, 3], [2, 4]]" settings="widgetSettings"></teamstatus-widget-size>

	<div class="form-group">
	  <label for="serverAddress">Bamboo address</label>
	  <input class="form-control" id="serverAddress" name="serverAddress" ng-model="settings.server.address" placeholder="http://your.bamboo.com" required="" type="url">
	  <small class="error" ng-show="jobForm.serverAddress.$error.url">That is not a valid address</small>
	  <small class="error" ng-show="jobForm.serverAddress.$error.required">Bamboo address is required</small>
	</div>
	<div class="form-group">
	  <label for="serverUsername">Bamboo username</label>
	  <input class="form-control" id="serverUsername" name="serverUsername" ng-minlength="2" ng-model="settings.server.username" placeholder="username" required="" type="text">
	  <small class="error" ng-show="jobForm.serverUsername.$error.minlength">Username is required to be at least 2 characters</small>
	  <small class="error" ng-show="jobForm.serverUsername.$error.required">Username is required</small>
	</div>
	<div class="form-group">
	  <label for="serverPassword">Bamboo password</label>
	  <input class="form-control" id="serverPassword" name="serverPassword" ng-minlength="2" ng-model="settings.server.password" placeholder="password" required="" type="password">
	  <small class="error" ng-show="jobForm.serverPassword.$error.minlength">Password is required to be at least 2 characters</small>
	  <small class="error" ng-show="jobForm.serverPassword.$error.required">Password is required</small>
	  <p>
	    <div class="alert alert-info">Settings are stored encrypted in our database. Still for security reasons please consider creating a read-only account on your server.</div>
	  </p>
	</div>
	<div class="form-group">
	  <label for="failBuilds">Bamboo builds keys to monitor</label>
	  <textarea class="form-control" id="failBuilds" name="failBuilds" ng-minlength="2" ng-model="settings.failBuilds" placeholder="KEYS" ng-required="!settings.showBuilds" type="text"></textarea>
	  <small class="error" ng-show="jobForm.failBuilds.$error.minlength">You need to specify at least one key</small>
	  <small class="error" ng-show="jobForm.failBuilds.$error.required">You need to specify at least one key</small>
	</div>
	<div class="form-group">
	  <label for="showBuilds">Bamboo builds to show in expanded mode</label>
	  <textarea class="form-control" id="showBuilds" name="showBuilds" ng-minlength="2" ng-model="settings.showBuilds" placeholder="KEYS" ng-required="!settings.failBuilds" type="text"></textarea>
	  <small class="error" ng-show="jobForm.showBuilds.$error.minlength">You need to specify at least one key</small>
	  <small class="error" ng-show="jobForm.showBuilds.$error.required">You need to specify at least one key</small>
	</div>
</div>