<div class="content jira-issue-list">
	<script class="issue-row-template" type="text/x-handlebars-template">
		<tr>
			<td>
				{{issue.fields.summary}} <span class="badge"><a href="{{issue.url}}">{{issue.key}}</a></span>
			</td>
		</tr>
	</script>
  <table class="table">
  	<tbody>
  	</tbody>
  </table>
</div>
