<script id="template/timepicker/timepicker.html" type="text/ng-template">
    <table>
            <tbody>
                    <tr class="text-center">
                            <td><a ng-click="incrementHours()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
                            <td>&nbsp;</td>
                            <td><a ng-click="incrementMinutes()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
                            <td ng-show="showMeridian"></td>
                    </tr>
                    <tr>
                            <td style="width:50px;" class="form-group" ng-class="{'has-error': invalidHours}">
                                    <input type="text" ng-model="hours" ng-change="updateHours()" class="form-control text-center" ng-mousewheel="incrementHours()" ng-readonly="readonlyInput" maxlength="2">
                            </td>
                            <td>:</td>
                            <td style="width:50px;" class="form-group" ng-class="{'has-error': invalidMinutes}">
                                    <input type="text" ng-model="minutes" ng-change="updateMinutes()" class="form-control text-center" ng-readonly="readonlyInput" maxlength="2">
                            </td>
                            <td ng-show="showMeridian"><button class="btn btn-default text-center" ng-click="toggleMeridian()">{{meridian}}</button></td>
                    </tr>
                    <tr class="text-center">
                            <td><a ng-click="decrementHours()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
                            <td>&nbsp;</td>
                            <td><a ng-click="decrementMinutes()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
                            <td ng-show="showMeridian"></td>
                    </tr>
            </tbody>
    </table>
</script>
<div ng-controller="StfuCtrl">
	<div class="form-group">
	  <label for="html">Select when do you want to have quiet hours <a ng-click="addTimeSpan()" class="btn btn-link" title="Add another time span"><span class="glyphicon glyphicon-plus-sign"></span></a></label>
	  <div ng-repeat="time in settings.timeSpans" class="well" style="position: relative;">
		  <div ng-model="time.start" style="display:inline-block; margin-right: 75px;">
		  	Start at:
		    <timepicker style="inline-block" hour-step="1" minute-step="15" show-meridian="false"></timepicker>
		  </div>
		  <div ng-model="time.end" style="display:inline-block;">
		  	End at:
		    <timepicker hour-step="1" minute-step="15" show-meridian="false"></timepicker>
		  </div>
		  <a ng-hide="$first" ng-click="removeTimeSpan($index)" style="top: 5px; right: 0px; position: absolute;" class="btn btn-link"><i class="glyphicon glyphicon-remove"></i></a>
		</div>
	</div>
</div>