- content_for(:scripts) do
	!=javascript_include_tag('//cdnjs.cloudflare.com/ajax/libs/holder/2.0/holder.js')
	:javascript
		mixpanel.track("Boards");

.btn-group
	%a.btn.btn-default{href: new_board_path} Add board

%p
	.boards{'ng-app' => 'teamstatus.console.boards', 'ng-controller' => 'BoardsCtrl', 'ng-cloak' => '', 'data-boards' => render(template: 'boards/index', formats: :json)}
		.thumbnail.board{'ng-repeat' => 'board in boards'}
			%a{'ng-href' => '{{board.view_url}}'}
				%img{:src => image_path("teamstatus-logo.png")}/
			.caption
				%h5 {{board.name | default: 'No name'}}
				%ul.list-inline.pull-right
					%li
						%a.edit{'ng-href' => '{{board.edit_url}}', title: "Edit"}
							%i.fa.fa-cog
					%li
						%a.delete{href: '#', title: "Delete"}
							%i.fa.fa-trash-o
