- content_for(:scripts) do
  !=javascript_include_tag('//cdnjs.cloudflare.com/ajax/libs/holder/2.0/holder.js')
  :javascript
    mixpanel.track("Boards");

.container
  .boards
    - @boards.each do |board|
      %a.thumbnail.board{:href => board_public_url(board)}
        %img{:src => image_path("teamstatus-logo.png")}/
        .caption
          %h5=board.name

  %hr.footer-divider/

  %footer
    %p.pull-right
      %a{href: "#"} Back to top
    %p
      \&#169; 2013 Team Status
      \&#183;
      %a{href: "mailto:pawel@teamstatus.tv"} Contact us

