- content_for(:scripts) do
  :javascript
    mixpanel.track("Add board");

%h2.title-divider
  %span
    Create board

%div{"ng-app" => "teamstatus.console.boards", "ng-controller" => "BoardCtrl"}

  .row
    .col-md-6

      %form{role: "form", :name => "boardForm", "ng-submit" => "saveBoard()", "ng-cloak" => ""}
        =render :partial => 'common_fields'

        .form-group
          %label Secret link
          %p.form-control-static Will be generated when board is created

        .alert.alert-warning
          This board will be publicly accessible by anyone having the secret link.

        %button.btn.btn-success{:type => "submit"}
          %i.fa.fa-plus
          Add board

        =link_to 'Cancel', boards_path, :class => 'btn btn-link'

