- content_for(:scripts) do
  :javascript
    mixpanel.track("Add board");

%div{"ng-app" => "teamstatus.console.widget.add", "ng-controller" => "WidgetsCtrl"}

  .page-header
    %h1
      Add board
      %small

  %form{role: "form", :name => "jobForm", "ng-submit" => "addBoard()", "ng-cloak" => ""}
    .form-group
      %label{for: "name"} Board name
      %input#milestoneName.form-control{name: "name", "ng-model" => "board.name", placeholder: "Board name", type: "text"}/

    %button.btn.btn-success{:type => "submit", 'ng-if' => '!editing'}
      %i.fa.fa-plus
      Add board
    %button.btn.btn-success{:type => "submit", 'ng-if' => 'editing'}
      %i.fa.fa-cog
      Save board
    =link_to 'Cancel', boards_path, :class => 'btn btn-link'

