.nowrap {
	white-space:nowrap;
}

.alert.flash {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

.fa-6 {
	font-size: 20em;
}

.fa-4 {
	font-size: 7em;
}

.fa-3 {
	font-size: 4em;
}